a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
html, body { min-height: 100% } 
#menu_594a0821 a { text-decoration: none; }
#menu_594a0821_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; border-radius: 15px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_594a0821_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_594a0821_entry { padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px; }
#menu_594a0821_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_594a0821_entry:hover span { color:#FFFFFF !important; }
		.menu_594a0821_mainMenuEntry { text-align: center; }
		.menu_594a0821_mainMenuEntry:hover {	background-color:#282828; }
		.menu_594a0821_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_594a0821 .mobileEntry { display: none; } 
		#menu_594a0821 .normalEntry { display: block; } 
		#menu_594a0821_menualignmentwrapper{ width:295px; left: calc(50% - 147px);  } 
		@media only screen and (max-width:600px) { 
			#menu_594a0821 .mobileEntry { display: block; } 
			#menu_594a0821 .normalEntry { display: none; } 
			#menu_594a0821_menualignmentwrapper { width:40px; left: calc(50% - 20px);  } 
		}
body { background-color:#FFFFFF; background-image: url(rc_images/grass_carried.png); background-position:top left; background-repeat:repeat; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_3e575098 { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; width:100%; min-height:29px; background-color:#FFFFFF; background-image: url(rc_images/bedrock.png); background-position:top left; background-repeat:repeat;  }
#container_3e575098_padding { margin: 10px; display: block;  }
#container_2aa5a736 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:13px; background:none;  }
#container_2aa5a736_padding { margin: 10px; display: block;  }
#container_e4bf9ac { vertical-align: top; border-radius: 50px; position:relative; display: inline-block; width:100%; min-height:134px; background-color:#FFFFFF; background-image: url(rc_images/dirt.png); background-position:top left; background-repeat:repeat;  }
#container_e4bf9ac_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:40pt; font-family:Minecrafter; color:#000000;  }
#menu_594a0821 { box-sizing: border-box; vertical-align: bottom; border-radius: 15px; position:relative; display: inline-block; width:64%; height:43px; text-align:left; background-color:#E5E5E5; background: linear-gradient(to bottom, #FFFFFF, #E5E5E5); border: 1px solid #A0A0A0;  }
#menu_594a0821_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:40px; height:43px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle4 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:62px; height:43px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle3 { position:absolute; width:98px; height:43px; left:62px;  }
.menustyle4 { position:absolute; width:61px; height:43px; left:160px;  }
.menustyle5 { position:absolute; width:74px; height:43px; left:221px;  }
#img_144c238e { position:absolute; left:7%; top:36%; width:25%; background:none; height:auto;  }
#text_569c0aec { position:absolute; left:41%; top:47%; width:540px; height:110px; background:none;  }
.textstyle6 { font-size:50pt; font-family:'KG Second Chances Sketch'; color:#000000;  }
